body{
    background-color: rgb(228, 242, 242);
    color: black;
    font-family: 'Roboto', sans-serif;
}
h3{
    color:#7D3C98;
    font-size: 25px;
}
h1, p{
    color:#6b1093;
}
img {
    height: 300px;/*altura*/
    width: 280px;/*ancho*/
    border-style:  solid;
    margin-left: 20px;
    margin-bottom: 15px;
    padding: 30px;
}
a, small{
    color:#471d5a
}